name: Publish Python distribution to PyPI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'likelihood/VERSION'

jobs:
  build-and-publish-to-pypi:
    name: Build distribution
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Rust
      run: |
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        source $HOME/.cargo/env
        rustup update stable

    - name: Install build tools
      run: python -m pip install --upgrade pip build auditwheel setuptools-rust

    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        build
        --sdist
        --wheel
        --outdir dist/
        .

    - name: Repair wheel for manylinux
      run: auditwheel repair dist/*.whl -w dist/

    - name: Publish Python distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
      continue-on-error: true

    - name: Get package version
      id: get_version
      run: |
        version=$(python setup.py --version)
        echo "::set-output name=version::$version"

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      with:
        tag_name: ${{ steps.get_version.outputs.version }}
        release_name: Release ${{ steps.get_version.outputs.version }}
        draft: false
        prerelease: false
      continue-on-error: true